
<div class="row align-items-center">
    <div class="col-12 mx-auto">
      <div>
        <form [formGroup]="taskForm" >
           <div class="mb-3">
            <label for="title" class="form-label" >Title</label>
            <input type="text" class="form-control" formControlName="title">
           </div>
           <div class="mb-3">
            <label for="description" class="form-label">Description</label>
            <input type="text" class="form-control" formControlName="description">
           </div>
           <div class="mb-3">
            <label for="dueDate" class="form-label">Due Date</label>
            <input type="date" class="form-control" formControlName="dueDate">
           </div>
           <div class="mb-3">
            <label for="priority" class="form-label">Priority</label>
            <select class="form-control" formControlName="priority">
              <option value="High">High</option>
              <option value="Medium">Medium</option>
              <option value="Low">Low</option>
            </select>
           </div>
           <div class="mb-3">
            <button type="button" class="btn btn-primary me-3" [disabled] ="taskForm.invalid" (click)="onSubmit()" [routerLink] ="['/edit/:id']">Update</button>
            <button type="button" class="btn btn-secondary me-3" (click)="cancel()">Cancel</button>
           </div>
        </form>
      </div>
    </div>
</div>